In [16]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

In [17]:
file_path ='Homework-06-Python-APIs_output_data_cities.csv'
             
vacation_df = pd.read_csv(file_path)
             
vacation_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

In [18]:
# Configure gmaps with API key
gmaps.configure(api_key="AIzaSyDkuiYiXxbu9jclBPgRCB29loWsZu6at78")

In [19]:
# Store 'Lat' and 'Lng' into  locations 
locations = vacation_df[["Lat", "Lng"]].astype(float)

# Convert Poverty Rate to float and store
# HINT: be sure to handle NaN values
#vacation_df = vacation_df.dropna()
humidity_df = vacation_df["Humidity"].astype(float)

In [20]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity_df, 
                                 dissipating=False, max_intensity=200,
                                 point_radius = 3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
#fire_pokemon =  pokemon_df.loc[pokemon_df['Type 1'] == 'Fire']

hotel_df = vacation_df.loc[(vacation_df['Max Temp']< 80) & (vacation_df['Max Temp']> 70)\
                                       & (vacation_df['Wind Speed']<10)  & (vacation_df['Cloudiness']==0)].dropna()

In [22]:
#add a hotel column 

hotel_df['Hotel Name']= ''
hotel_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32,
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50,
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06,
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59,
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93,
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77,
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17,

In [26]:
hotel_df.head()

#Set parameters to search for hotels with 5000 meters.

params = {
    
    "radius" : 5000 ,
    "types": "lodging",
    "key": "AIzaSyDkuiYiXxbu9jclBPgRCB29loWsZu6at78"
}

for index, row in hotel_df.iterrows():

    # get restaurant type from df
    lat = row['Lat']
    lng = row['Lng']

    # add keyword to params dict
    params['location'] = f"{lat},{lng}" 
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    response = requests.get(base_url, params=params).json()

 # extract results
    results = response['results']
    
    try:
       
        
        hotel_df.loc[index, "Hotel Name"] = response['results'][0]["name"]
      
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    #print("------------")
    
hotel_df
#Hit the Google Places API for each city's coordinates.
#Store the first Hotel result into the DataFrame.
#Plot markers on top of the heatmap.

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32,Hotel Escarpas do Lago
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50,Hotel Castelo
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06,La Case Bambou
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59,Dandeli Lake County
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93,Hôtel La Giralda
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77,MOGOK HILL HOTEL
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17,تاکسی سرویس آرامش

In [27]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [16]:
fig = gmaps.figure()

marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)



fig.add_layer(marker_layer)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))